:root {
--max-width:1280px;
/*--max-width: none;*/
--min-width:320px;
--acent-color: #00c2FF;
}
* {box-sizing: border-box;}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.book-appointment{
    background-color: var(--acent-color);
    border-radius: 10px;
    padding: 1rem auto;
    font-size: 24px;
}
/*Container*/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url("./img/background_01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.7s ease-in-out;
}
.header, .container, .footer{
    width: 100%;
    margin:0 auto;
    padding: 1rem;
    max-width: var(--max-width);

}
/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 5rem;
}
.menu-list {
    margin: 0;
}
.menu-list__item {
    display: inline-block;
    margin: 0 .5rem;
    font-size: 24px;
}
.menu-list__item :last-child{
    margin-right: 0;
}
/*Content */
.content{
    flex-grow: 1; /*crece el contenido se alarga*/
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
/*Flechas*/
.slideButton {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
}
.prevSlide {
    left: -2rem;
}
.nextSlide {
    right: -2rem;
}

.content__claim {
    font-size: 64px;
    color: greenyellow;
    margin: 0;
}
.content__subclaim{
    font-size: 36px;
    margin: 5rem 0;
    margin-bottom: 2rem;
}
/*Footer*/
.footer-wrapper{
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer__widget{
    font-size: 24px;
}
.footer__widget__title {
    color: rgb(8, 198, 211);
    margin: 0 0 1rem 0;
}
.footer__widget__text{
    margin: 0;
    text-decoration: dotted;
}
/*Responsive stuff*/
@media screen and (max-width: 1280px) {
    .header,
    .footer {
      flex-direction: column;
      text-align: center;
    }
    .menu {
      margin-top: 1.5rem;
    }
    .content {
      align-items: center;
    }
    .footer__widget {
      margin-bottom: 1rem;
    }
  }